<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Você está em {{no}}.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="navbar">
        <img class="title-logo" src="{{ url_for('static', filename='img/logo_cave_scape.png')}}">
    </div>

   
    <div class="img-caminho">
        <img class="img-caminho" src="{{ url_for('static', filename='img/mochila.png')}}">
    </div>

    <div class="caminho">

        {% set mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}

        {% for category, msg in mensagens %}
        {%if category == 'success' %}
        <div class="card text-white bg-success position-absolute fixed-top col-6">
            <span class="card-header">{{msg}}</span>
                <div class="card-body">
                    <h5 class="card-title">Você está um passo mais perto para sair da caverna!</h5>
                    <form class="text-caminho" action="http://127.0.0.1:5000/caminho/{{no}}" method="post">
                        <label for="">Onde deseja ir? Insira o número do posto. </label><br>
                        <input type="number" min="1" max="10" name="name" placeholder="Posto." required>
                        <button type="submit">Enviar</button>
                    </form>
                </div>
        </div>
        {% endif %}

        {%if category == 'warning' %}
        <div class="alert  alert-dismissible fade show" role="alert">
            <span>{{msg}}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        {% endfor %}

        {% endif %}

        <h1>Você se encontra no posto nº: {{no}}</h1>
        <p class="impact-text">As moedas deste posto com seus valores e pesos são:</p>
        
        <table cellpadding="5px">
            <tr>
                <td>Moeda</td>
                <td>Valor</td>
                <td>Peso</td>
            </tr>
            <tr class="linha-clara">
                <td> <img class="img-moeda" src="{{ url_for('static', filename='img/moeda_1.png')}}"> </td>
                <td>{{valor0}}</td>
                <td>{{peso0}}</td>
            </tr>
            <tr>
                <td> <img class="img-moeda" src="{{ url_for('static', filename='img/moeda_2.png')}}"> </td>
                <td>{{valor1}}</td>
                <td>{{peso1}}</td>
            </tr>
            <tr class="linha-clara">
                <td> <img class="img-moeda" src="{{ url_for('static', filename='img/moeda_3.png')}}"> </td>
                <td>{{valor2}}</td>
                <td>{{peso2}}</td>
            </tr>
            <tr>
                <td> <img class="img-moeda" src="{{ url_for('static', filename='img/moeda_4.png')}}"> </td>
                <td>{{valor3}}</td>
                <td>{{peso3}}</td>
            </tr>
            <tr class="linha-clara">
                <td> <img class="img-moeda" src="{{ url_for('static', filename='img/moeda_5.png')}}"> </td>
                <td>{{valor4}}</td>
                <td>{{peso4}}</td>
            </tr>
        </table>
        <p class="tag">Resposta: {{resposta}}.</p>

        <form class="knapsack" action="" method="post">
            <h1>Qual o maior valor de moedas que você consegue levar <br>tendo {{peso}} quilos disponíveis na mochila?</h1>
            <div class="envio">
                <input type="number" name="valor" required>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
</body>

</html>