<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Você está em {{no}}.</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <div class="navbar">
        <img class="title-logo" src="./static/img/logo_cave_scape.png">
    </div>
    <div class="error">
        <h1>Você errou!!</h1>
        <p class="text-warning">Volte ao início e tente encontrar a saída novamente!</p>
        <form method="get" action="/">
            <button type="submit">Voltar</button>
        </form>
    </div>
    <img class="img-error" src="./static/img/game_over.png">
</body>

</html>