<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Você está em {{no}}.</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <div class="navbar">
        <img class="title-logo" src="./static/img/logo_cave_scape.png">
    </div>
    <div class="victory">
        <h1> Você achou a saída!!</h1>

        <form method="get" action="/">
            <button type="submit">Voltar</button>
        </form>
    </div>
    <img class="img-victory" src="./static/img/cave_saida.png">
</body>

</html>